html {
  font-size: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $colorGroomsMan;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: $colorBackground;
  text-align: center;
  font-family: $fontRegular;
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: $colorGroomsMan;
}

img {
  width: 100%;
  height: auto;
  border-style: none;
}

p {
  margin: 0 0 pxToRem($interElementSpacing) 0;
}

p:only-child,
p:last-child,
p.form-error {
  margin: 0;
}

input,
textarea {
  @include placeholder();
}

input,
button {
  font-size: pxToRem(16);
}

input {
  width: 100%;
  background: none;
}

fieldset {
  margin: 0;
  border: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  box-sizing: border-box;
}
