html {
  font-size: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $colorGroomsMan;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: $colorBackground;
  text-align: center;
  font-family: $fontRegular;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: $colorGroomsMan;
}

img {
  width: 100%;
  height: auto;
  border-style: none;
}

p {
  margin: 0;
}

p:not(:last-child):not(.form-error),
p:not(:only-child):not(.form-error) {
  margin: 0 0 pxToRem($interElementSpacing) 0;
}

input,
button {
  font-size: pxToRem(16);
}

input {
  width: 100%;
  background: none;
}

fieldset {
  margin: 0;
  border: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance:button
}

.button {
  display: inline-block;
  padding: 0 pxToRem(20);
  color: $colorBride;
  background-color: $colorGroom;
  border-radius: pxToRem(2);
  height: pxToRem($buttonHeight);
  line-height: pxToRem($buttonHeight - 1);
  font-family: $fontBold;
  font-size: pxToRem(16);
  border: 0;
  cursor: pointer;
}

.button:focus,
.button:hover {
  background-color: $colorPriest;
}

.button:disabled {
  opacity: .5;
}

.button.secondary {
  color: $colorGroom;
  background-color: transparent;
  border: pxToRem(2) solid $colorGroom;
}

.button.secondary:focus,
.button.secondary:hover {
  border-color: $colorPriest;
  color: $colorPriest;
}
