.title-1 {
  @include title-1;
  scroll-margin-top: pxToRem($interModuleSpacing);
  
  @include mq-desktop {
    scroll-margin-top: pxToRem($interElementSpacing);
  }
 
}

.title-2 {
  @include title-2;
}

.title-3 {
  @include title-3;
}

.title-4 {
  @include title-4;
}

.text-1 {
  @include text-1;
}

.text-2 {
  @include text-2;
}

.text-3 {
  @include text-3;
}

.text-4 {
  @include text-4;
}

.list {
  @include list-reset;
}

@media (min-width: 64rem) {
  .title-1 {
	font-size: pxToRem(48);
  }
}
