$baseFontSize: 16;

/* Colors */
$colorBride: #fff;
$colorBridesMaid: #e2ecf6;
$colorError: #e50000;
$colorGroom: #1e436a;
$colorGroomsMan: #5d7ea0;
$colorPriest: #21578f;
$colorBackground: #f7f9fa;

$gradient: linear-gradient(327.38deg, $colorGroom 0%, $colorGroomsMan 100%);

/* Logo */
$logoHeightMobile: 26;
$logoWidthMobile: 260;
$logoHeightDesktop: 35;
$logoWidthDesktop: 290;

/* Breakpoints */
$mediumWidth: 35rem;
$desktopWidth: 64rem;

/* Spacings */
$gutterHeight: 8;
$offsetMobile: 32;
$interElementSpacing: 24;
$interModuleSpacingMobile: 48;
$interModuleSpacing: 96;

/* Button */
$buttonHeight: 48;

/* Webfont definitions */
$fontFamilyBase: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontRegular: 'GT Haptik Regular', $fontFamilyBase;
$fontBold: 'GT Haptik Bold', $fontFamilyBase;
