/* Webfonts */
@font-face {
  font-family: 'GT Haptik Regular';
  src: url('/public/webfonts/GT-Haptik-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'GT Haptik Bold';
  src: url('/public/webfonts/GT-Haptik-Bold.woff2') format('woff2');
  font-display: swap;
}
